body{
  background-color: #C7DDD3;
}

.form-background{
  background-color: white;
  border-radius: 5px;
  box-shadow: 3px 3px 30px 3px #628474;
}

.h2-style{
  color: #628474;
  font-weight: bold;
}

.h2-style-title{
  color: white;
  font-weight: bold;
  padding: 1%;
}

.menu-title{
  background-color: #628474;
}

.label-style{
  color: #628474;
}

.login-button{
  background-color: #A4E0C4;
  color: #628474;
  font-weight: bold;
}

.nav-bg-style{
  background-color: #628474;
}

#nav-font-style{
  color: white;
  font-size: 18px;
  padding-left: 200px;
}


.bg-menu{
  background-color: #3D5147;
  width: 308px;
  bottom: 0;
  font-size: 16px;
  color: white;
}

.menu-button-background{
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  color: white;
  font-size: 18px;
  padding: 5px;
}

.bg-form{
  background-color: white;
  bottom: 0;
  margin-right: -6%;
}

.input-size{
  width: 40%;
}
