body{
  background-image: url("../img/gravida.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.form-background{
  background-color: white;
  border-radius: 5px;
  box-shadow: 3px 3px 30px 3px #628474;
}

.h2-style{
  color: #628474;
  font-weight: bold;
}

.h2-style-title{
  color: white;
  font-weight: bold;
  padding: 1%;
}

.menu-title{
  background-color: #628474;
}

.label-style{
  color: #628474;
}

.login-button{
  background-color: #A4E0C4;
  color: #628474;
  font-weight: bold;
}

.nav-bg-style{
  background-color: #628474;
}

#nav-font-style{
  color: white;
  font-size: 18px;
  padding-center: 200px;
}


.bg-menu{
  background-color: #3D5147;
  width: 308px;
  bottom: 0;
  font-size: 16px;
  color: white;
  height: 1000%
}

.menu-button-background{
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  color: white;
  font-size: 18px;
  padding: 5px;
  width: 293px;
  text-align: left;
}

.menu-button-background:hover{
  background-color: #28352F;
}

.bg-form{
  background-color: white;
  bottom: 0;
  margin-right: -6%;
}

.input-size{
  width: 40%;
}

li:hover{
  background-color: #3D5147;
}

li{
  border-right: 1px solid #C7DDD3;
}

li:last-child{
  border-right: none;
}

/*Zoom Img - Fonte: https://codepen.io/Remedy/pen/ZYJrpp*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.item {
  position: relative;

  border: 1px solid #628474;
  box-shadow: 0px 0px 15px 0px #628474;;
  margin: 4.5%;
  overflow: hidden;
  width: 380px;
}
.item img {
  max-width: 100%;

  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.9s;
}
.item:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(.1);
  transform: scale(3.1);
}
